body{
	margin: 0;
	padding: 0;
}
/*header start*/
.header{

}
.wrapper{
	margin: 0 auto;	
    width: 80%;
    border: 1px solid red;
    overflow: hidden;
}
.logo{
	margin-top: 3px;
	float: left;
 width: 18%;
 /*border:1px solid red;*/
}
.logo img{
	width: 100%;
}
.menu{
	float: right;
	width: 82%;
	/*border: 1px solid red;*/

}
.menu ul{
	float: right;

}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	padding: 10px 14px;
	display: inline-block;
	font-family: sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #535D69;
	text-decoration: none;
}
.menu ul li:last-child a{
	padding-right:0;
}
.menu ul li a:hover{
	color: #BD233F;
}

/*header end*/
/*banner start*/

.banner{
	/*min-height: 450px;*/
	background-image: url(../image/s2.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

}
.b_wrapper{
	margin: 100px 0;
	width: 50%;
	/*border: 1px solid red;*/
}
.b_wrapper h1{
	margin: 0 0 30px;
	font-family:sans-serif;
    font-size: 59px;
	font-weight: bold;
	color: white;
	text-transform: capitalize;


}
.b_wrapper p{
    font-family:sans-serif;
	font-size:17px;
	font-weight: 400;
	color: white;
	line-height: 25px;
	text-transform: capitalize;


}
.b_wrapper button{
	margin-top: 37px;
	width: 250px;
	height: 40px;
	background-color: red;
	border: none;
	font-family:sans-serif;
	font-size:17px;
	font-weight: 400;
	color: white;
	text-transform: capitalize;
	cursor: pointer;
	transition: .3s;

}
.b_wrapper button:hover{
	background-color: white;
	color: red;
}
/*banner end*/
/*works start*/
.works{
	padding: 90px 0;
}
.c_title{
	margin: 0 auto 50px;
	width: 70%;
	/*border: 1px solid red;*/
	text-align: center;
}
.c_h1{
	margin: 0 0 20px;
	font-family:sans-serif;
	font-size:30px;
	font-weight: 700;
	color: #262626;
}
.c_p{
	margin: 0;
	font-family:sans-serif;
	font-size:16px;
	font-weight: 700;
	color:#535D69;
	line-height: 25px;
	
}
.w_wrapper{
	/*border: 1px solid black;*/
	overflow: hidden;
}
.single{
	float: left;
	padding: 20px 4.15%;
	width: 25%;
	/*border:1px solid red;*/
	text-align: center;
}
.s_img{
	margin: 0 auto;
	width: 50%;
}
.s_img img{
	width: 100%;
}
.single h3{
	font-family:sans-serif;
	font-size:10px;
	font-weight: 700;
	color:#535D69;
	line-height: 25px;
}
/*works end*/

